body {
  text-align: center;
  background: rgb(149, 213, 178);
  background: radial-gradient(
    circle,
    rgba(149, 213, 178, 1) 0%,
    rgba(216, 243, 220, 1) 50%,
    rgba(116, 198, 157, 1) 100%
  );
}

h1 {
  color: #2d6a4f;
  width: 100%;
  height: auto;
}
.img-container {
  background-image: url("./src/blob.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.pokemon-container {
  width: auto;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;
    margin: 10px auto;
    height: auto;
  }
}

.pokemon-block {
  border-radius: 10px;
  padding: 10px;
  margin: 30px 30px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.pokemon-block p {
  margin: 5px;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}
.stats {
  margin-top: 10px;
  text-align: start;
}
.againButton {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  width: auto;
  height: 40px;
}
.botton-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: auto;
  margin: 5px auto;
  height: 10vh;
}