body {
  text-align: center;
  background: rgb(149, 213, 178);
  background: radial-gradient(
    circle,
    rgba(149, 213, 178, 1) 0%,
    rgba(216, 243, 220, 1) 50%,
    rgba(116, 198, 157, 1) 100%
  );
}

h1 {
  color: #2d6a4f;
  width: 100%;
  height: auto;
}
#pokeSearch {
  text-align: center;
  font-size: 15px;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 30px 30px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}
.img-container {
  background-image: url("./src/blob.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.pokemon-container {
  width: auto;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin: 10px auto;
    height: auto;
  }
  .stats {
    font-size: 24px;
  }
  #pokeSearch {
    width: 70%;
    height: 50px;
    font-size: 24px;
  }
}

.pokemon-block {
  border-radius: 10px;
  padding: 10px;
  margin: 30px 30px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.pokemon-block p {
  margin: 5px;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}
.stats {
  margin-top: 10px;
  text-align: start;
}
.againButton {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  width: auto;
  height: 40px;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: auto;
  margin: 5px auto;
  height: 10vh;
}

/* Estilos para colocar el icono del tipo de cada pokemon*/
.iconContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40px;
  margin: 0 auto;
  justify-content: center;
}
.icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.grass {
  background-image: url(/src/typesIcon/Grasstype.png);
}
.fire {
  background-image: url(/src/typesIcon/Firetype.png);
}
.water {
  background-image: url(/src/typesIcon/Watertype.png);
}
.animal {
  background-image: url(/src/typesIcon/Animaltype.png);
}
.bug {
  background-image: url(/src/typesIcon/Bugtype.png);
}
.dark {
  background-image: url(/src/typesIcon/Darktype.png);
}
.dragon {
  background-image: url(/src/typesIcon/Dragontype.png);
}
.electric {
  background-image: url(/src/typesIcon/Electrictype.png);
}
.fairy {
  background-image: url(/src/typesIcon/Fairytype.png);
}
.fighting {
  background-image: url(/src/typesIcon/Fightingtype.png);
}
.flying {
  background-image: url(/src/typesIcon/Flyingtype.png);
}
.ghost {
  background-image: url(/src/typesIcon/Ghosttype.png);
}
.ground {
  background-image: url(/src/typesIcon/Groundtype.png);
}
.ice {
  background-image: url(/src/typesIcon/Icetype.png);
}
.normal {
  background-image: url(/src/typesIcon/Normaltype.png);
}
.poison {
  background-image: url(/src/typesIcon/Poisontype.png);
}
.psychic {
  background-image: url(/src/typesIcon/Psychictype.png);
}
.rock {
  background-image: url(/src/typesIcon/Rocktype.png);
}
.sand {
  background-image: url(/src/typesIcon/Sandtype.png);
}
.sound {
  background-image: url(/src/typesIcon/Soundtype.png);
}
.speed {
  background-image: url(/src/typesIcon/Speedytype.png);
}
.steel {
  background-image: url(/src/typesIcon/Steeltype.png);
}